body {
  padding-bottom: 100px;
}

.container {
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'Avenir Next';
}

.img-mac {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 40px;
}

.img-headshot {
  max-width: 10%;
  max-height: 10%;
  padding-bottom: 10px;
  border-radius: 50%;
  border:1px solid #eee;
}

.starter-template {
  padding-top: 40px;
  padding-bottom: 40px;3
  border-top: 1px solid #eee;
}

.introPar {
	width: 500px;
  text-align: justify;
}

.second-section {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  border-top: 1px solid #eee;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #eee;
}

.left {
	float:left;
}

.right {
	float:right;
}
